extends layout

block content
  div(class='front')
    div Welcome to
    h1= title
    p Rules:
    img(src='/images/Rock-paper-scissors.svg', width='300', height='287')
    p
      a(href='/game') start game