body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.container {
  //display: flex;
  //flex-direction: column;
}

.front {
  text-align: center;
}

.waiting {

}

#game {
  display: flex;

  div {
    flex: auto;
    text-align: center;
  }
}

#messages {
  position: absolute;
  top: 0;
  left: 50%;
}

#score {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.hide {
  display: none;
}