body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  color: #00B7FF;
}

header, footer {
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;

  div {
    flex: auto;
    text-align: center;
  }
}

.roundContainer {
  font-size: 80%;
}

#front {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5em;

  * {
    flex: auto;
    text-align: center;
  }
}

#wait {
  text-align: center;
}

#game {
  display: flex;

  div {
    flex: auto;
    text-align: center;
    width: 50%;
  }
}

#weaponOpponent {
  img {
    transform: scaleX(-1);
  }
}

#result {
  color: dimgrey;
  text-align: center;
  font-style: italic;
}

#messages {
  text-align: center;
}

#weapon-selector {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: orange;
  padding: 10px;

  div {
    margin-bottom: 5px;
  }
}

.score {
  display: flex;
  color: white;
  background-color: dimgrey;

  div {
    flex: auto;
    text-align: center;
    width: 50%;
  }
}

.rounds {
  text-align: center;
  padding: 10px 20px;
  color: dimgrey;
  background-color: lightgrey;
}

.hide {
  display: none;
}

.win {
  color: green;
}
.loose {
  color: red;
}